<h2>Bem-vindo à Clínica Psicológica</h2>
<p>Escolha uma opção:</p>
<ul>
  <li><a href="/paciente">Cadastrar Paciente</a></li>
  <li><a href="/psicologo">Cadastrar Psicólogo</a></li>
  <li><a href="/agendamento">Agendar Sessão</a></li>
</ul>
