<h2>Cadastro de Psicólogo</h2>

<form action="/psicologo" method="POST">

  <!-- Nome do Psicólogo -->
  <label for="nome">Nome:</label>
  <input type="text" name="nome_psicologo" value="" required>

  <!-- CRP -->
  <label for="crp">CRP:</label>
  <input type="number-text" name="crp" value="" required>

  <!-- Especialidade -->
  <label for="especialidade">Especialidade:</label>
  <input type="text" name="especialidade" value="" required>

  <!-- Telefone -->
  <label for="telefone">Telefone:</label>
  <input type="number" name="telefone" value="" required>

  <!-- E-mail -->
  <label for="email">E-mail:</label>
  <input type="text" name="email" value="" required>  

  <button type="submit">Cadastrar Psicólogo</button>
</form>

